{% extends 'base.html' %}

{% block title %}Home{% endblock %} 

{% block content %}

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Welcome to the Recipes</h1>

        <p class="pt-4">
            Here you can find most of traditional sweet recipes used in many countries.
            You can share your own recipes , you just need to register and create your own account.
        </p>
    </section>
    <section>
        <div class="recipe-cont">
            {% for recipe in recipes %} 
                <a href="{% url 'recipe_detail' recipe.id %}" class="img-container">
                    <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" style="width: 100%">
                    <div class="centered"><h2>{{recipe.title}}</h2></div>
                </a>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}